<h1><%= @brew.blend_name %></h1>

Origin: <%= @brew.origin %><br>
Notes: <%= @brew.notes %><br>
Strength: <%= @brew.strength %><br>

Customers: <%= @brew.customer_names %>

<%# t.string "blend_name"
t.string "origin"
t.string "notes"
t.integer "strength" %>
